### Read data into a dataframe

In [ ]:
# İngiltere'deki farklı farklı evlerin verilerini toplamışlar, yüzey alanı nedir, duvar alanı nedir gibi 8 farklı veri toplamışlar 
# bunlara karşılık gelen 2 tane de target değeri var, onlar ise ısıtmak ne kadar load getiriyor, soğutmak için ne kadar load geitiriyor
# ben tahminlemek için y1'i seçtim

In [2]:
# 8 tane feature var 
import pandas as pd
data=pd.read_excel("ENB2012_data.xlsx")
data.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [4]:
# descriptive statistics değerlerine baktık 
# datamızın dengeli dağıldığını söyleyebiliriz, mean ve %50 değerlerine bakarsak 

data.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.00000,768.000000,768.000000
mean,0.764167,671.708333,318.500000,176.604167,5.25000,3.500000,0.234375,2.81250,22.307195,24.587760
std,0.105777,88.086116,43.626481,45.165950,1.75114,1.118763,0.133221,1.55096,10.090204,9.513306
min,0.620000,514.500000,245.000000,110.250000,3.50000,2.000000,0.000000,0.00000,6.010000,10.900000
25%,0.682500,606.375000,294.000000,140.875000,3.50000,2.750000,0.100000,1.75000,12.992500,15.620000
50%,0.750000,673.750000,318.500000,183.750000,5.25000,3.500000,0.250000,3.00000,18.950000,22.080000
75%,0.830000,741.125000,343.000000,220.500000,7.00000,4.250000,0.400000,4.00000,31.667500,33.132500
max,0.980000,808.500000,416.500000,220.500000,7.00000,5.000000,0.400000,5.00000,43.100000,48.030000

In [5]:
# featurelar arasında bir correlation var mı ona bakmış oluyoruz, bazı feature'lar arasında correlation var hem negatif hem de pozitif diyebiliriz
data.corr()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
X1,1.000000e+00,-9.919015e-01,-2.037817e-01,-8.688234e-01,8.277473e-01,0.000000,1.283986e-17,1.764620e-17,0.622272,0.634339
X2,-9.919015e-01,1.000000e+00,1.955016e-01,8.807195e-01,-8.581477e-01,0.000000,1.318356e-16,-3.558613e-16,-0.658120,-0.672999
X3,-2.037817e-01,1.955016e-01,1.000000e+00,-2.923165e-01,2.809757e-01,0.000000,-7.969726e-19,0.000000e+00,0.455671,0.427117
X4,-8.688234e-01,8.807195e-01,-2.923165e-01,1.000000e+00,-9.725122e-01,0.000000,-1.381805e-16,-1.079129e-16,-0.861828,-0.862547
X5,8.277473e-01,-8.581477e-01,2.809757e-01,-9.725122e-01,1.000000e+00,0.000000,1.861418e-18,0.000000e+00,0.889430,0.895785
X6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,-0.002587,0.014290
X7,1.283986e-17,1.318356e-16,-7.969726e-19,-1.381805e-16,1.861418e-18,0.000000,1.000000e+00,2.129642e-01,0.269842,0.207505
X8,1.764620e-17,-3.558613e-16,0.000000e+00,-1.079129e-16,0.000000e+00,0.000000,2.129642e-01,1.000000e+00,0.087368,0.050525
Y1,6.222719e-01,-6.581199e-01,4.556714e-01,-8.618281e-01,8.894305e-01,-0.002587,2.698417e-01,8.736846e-02,1.000000,0.975862
Y2,6.343391e-01,-6.729989e-01,4.271170e-01,-8.625466e-01,8.957852e-01,0.014290,2.075050e-01,5.052512e-02,0.975862,1.000000

### Prepare features and output

In [6]:
# Feature'ları almış olduk 

X= data.iloc[:, 0:8] 
X.head()

     X1     X2     X3      X4   X5  X6   X7  X8
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0

In [7]:
# burada ise y1 yani target değerimizi aldık
y1= data.iloc[:, 8]
y1.head()

0    15.55
1    15.55
2    15.55
3    15.55
4    20.84
Name: Y1, dtype: float64

### Let's use ridge regression

In [11]:
# artık Ridge Regression'ı import edebiliriz

from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

In [21]:
# 0.01'lik bir alpha değeri verdik hyperparameters'i kendimiz seçiyorduk
Regressor= Ridge(alpha = 0.01)

In [28]:
# train ve test datalarını ayırdık %20 test size verdik
# shuffle burada datayı karıştırıyor yani default olarak ilk %80'i train oluyor %20'si ise test oluyor 
# eğer shuffle = True yapmazsak random_state'de bir işe yaramıyor 
x_train, x_test, y_train, y_test = train_test_split(X,y1, test_size = 0.2, random_state=100, shuffle=True )

In [29]:
print("Number of train instances:", len(y_train))
print("Number of test instances:", len(y_test))

# burada ise instances'ların sayısını görmü olduk

Number of train instances: 614
Number of test instances: 154

In [30]:
# ridge regression'u fit ettik ve r-square değeri ise 0.91 çıktı train datasında 
model = Regressor.fit(x_train,y_train)
model.score(x_train,y_train)

0.9175377504085833

In [31]:
# aslında modelimiz gayet iyi çalışıyor örneğin %70 falan olsaydı r-square overfitting olabilir diyebiliriz 
model.score(x_test,y_test)

0.9092774906451744

### Let's optimize hyperparameter

- Ridge model has hyperparameter called as alpha which shows the strength of regularization
- By default it is taken as 1. 
- Let's see how the performance of the model changes with different alpha parameters
- We can use RidgeCV object

In [32]:
# import ridgecv object
from sklearn.linear_model import RidgeCV

In [33]:
regressor= RidgeCV(alphas=[0.001,0.01,0.1, 1.0, 10.0], cv = 10)
# biz burada r-square değerine göre en optimum alpha değerine buluyoruz ama istersek scoring'i değiştirebiliriz
# örneğin mean-absolute-error'ı deneyebiliriz
# burada ise cross validation yaparken 9'unu train 1'ini ise test için ayıracak
# alpha değerlerini kendimiz belirledik

In [35]:
regressor.fit(x_train,y_train)

RidgeCV(alphas=array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01]), cv=10)

In [37]:
# bize burada en optimum score'u 0.001 verdiğini söyleyebiliriz
regressor.alpha_

0.001

In [39]:
# biraz daha iyileşme olduğunu söyleyebiliriz 
model.score(x_test,y_test)

0.9094771593488011